<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show one user</title>
</head>
<body>

<p th:text="${'Hello! You chose: ' + user.getName() + '. ' + 'This user is ' + user.getAge() + ' years old'}"></p>

<form th:method="GET" th:action="@{/user/edit/{id} (id = ${user.getId()})}" th:object="${user}">
  <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/user/delete/{id} (id = ${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete"/>
</form>



</body>
</html>